{% extends "base.html" %}
{% block title %}Cadastro Cliente{% endblock %}
{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Erro 404</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Não encontrada</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">

            <div class="col-sm-12">

                <h1 class="pb-2 display-4">404</h1>
                <h3>Página não encontrada</h3>
            </div>
    </div>
{% endblock %}